---
import Layout from "@layouts/Layout.astro";
// const origin = Astro.url.origin
---
<Layout title="contact"> 
	<div class="max-w-prose mx-auto p-4  text-xl leading-loose">
		<h1 class="text-4xl mb-3" >About</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ab quas dolores, libero sit sapiente aliquid molestias nisi, eveniet impedit natus cupiditate mollitia! Voluptatibus ratione expedita, maiores et, optio quas sapiente ducimus odio dolores consectetur, quae placeat odit? Fugit unde nostrum illo veritatis cupiditate nihil, sint quam dolor. Rerum, explicabo? Contact us at <a href="mailto:nowhere@wa.org" class="text-primary underline">CONTACT_EMAIL</a></p>
	</div>
</Layout>
