---
import Layout from "@layouts/Layout.astro";
// const origin = Astro.url.origin
---
<Layout title="contact"> 
	<div class="m-4 text-surface bg-base">
		<h2>Test form</h2>
		<!-- <form action={`${origin}/api/mail`} method="POST" autocomplete="on">
			<label>
				From
				<input class="border border-gray-800 mx-2 p-1"name="from" type="email" placeholder="sender@example.com *" required><br>
			</label>
			<label >
				From Name
				<input class="border border-gray-800 mx-2 p-1"name="fromn" type="text" placeholder="Sender Name"><br>
			</label>
			<label >
				To
				<input class="border border-gray-800 mx-2 p-1"name="to" type="email" placeholder="receiver@example.com *" required><br>
			</label>
		<label >
	to name
			<input class="border border-gray-800 mx-2 p-1"name="ton" type="text" placeholder="Receiver Name"><br>
		</label>
		<label >
			reply to
			<input class="border border-gray-800 mx-2 p-1"name="rep" type="email" placeholder="reply-to@example.com"><br>
		</label>
		<label >
			type
			<select class="border border-gray-800 mx-2 p-1"name="type">
			<option class="border border-gray-800 mx-2 p-1"value="text/html; charset=utf-8">HTML</option>
			<option class="border border-gray-800 mx-2 p-1"value="text/plain; charset=utf-8" selected>Plain</option>
			</select><br>
		</label>
		<label >
	Subject
			<input class="border border-gray-800 mx-2 p-1"name="sbj" type="text" placeholder="Email Subject *" required><br>
		</label>
		<label >
			body
			<textarea class="border border-gray-800 mx-2 p-1"name="body" rows="7" cols="23" placeholder="Email Body *" required></textarea><br>
		</label>
			<input class="my-2 py-3 px-2 bg-green-700! text-white block" type="submit" value="submit">
		</form> -->
		<form data-static-form-name="contact">
			<label>Email address <input type="email" name="email" /></label>
			<label>Message <textarea name="message"></textarea></label>
			<button type="submit">
		</form>
	</div>
</Layout>
