---
import Layout from "@layouts/Layout.astro";
import config from 'src/domainConfig.ts'
const allLicense = await Astro.glob('../licenses/*.md');
let originToMatch = import.meta.env.PROD ? Astro.url.origin : "benin";
if (originToMatch.includes("dot-web.pages.dev")) {
  originToMatch = 'benin'
}
console.log("here at @licnese")
const configKey = Object.keys(config).find(key => originToMatch.toLowerCase().includes(key.toLowerCase()))
if (!configKey) return Astro.redirect('404')
const configEntry = config[configKey]
console.log({configEntry})
if (!configEntry || !configEntry.license) return Astro.redirect('404')
const applicable = allLicense.find(l => l.file.toLowerCase().includes(configEntry.license.toLowerCase()))
let Content = applicable ? applicable.Content : "couldn't find that"
// console.log({Lic})
// console.log(License)
---
<Layout title="license">
	<div class="max-w-prose mx-auto p-4 licenseContainer text-xl leading-loose">
		<Content/>
	</div>
</Layout>
